<div class='artist_show' id="artist_image">
  <%= image_tag @painting.image, :class=>'artist_biopage_pic' %>
</div>
<div class='artist_show' id='artist_info'>
  <div id='artist_biopage_name'><%= @painting.title %></div>
  <div id='artist_dob'><%= @painting.year %></div>
  <div id='artist_nationality'><%= @painting.medium %></div>
  <div id='artist_period'><%= @painting.style %></div>
  <div class="editing">
    <%= link_to 'Edit', @painting, :class=>'btn' %>
    <%= link_to 'Delete', @painting, :method=>:delete, :class=>'btn', :confirm=>'Are you sure you want to delete?' %>
  </div>
</div>
