<div><%= @mountain.name %></div>
<div><%= @mountain.image %></div>
<div><%= number_to_human(@mountain.height) %> feet high</div>
<div><%= @mountain.country %></div>
<div style='width:500px;'><%= image_tag(@mountain.image) %></div>