.row
  .large-5.columns
    =form_tag do
      = label_tag           :username
      = text_field_tag      :username
      = label_tag           :password
      = password_field_tag  :password
      = label_tag           :password_confirmation
      = password_field_tag  :password_confirmation
      = link_to "Start Flirting", login_path, :remote=>true, :class=>'button radius tiny'
      = button_to_function "Cancel", 'cancel_subscriber_form()', :class=>'button radius success alert'
  .large-7.columns