%table
  %tr
    %td= link_to "New Song", new_song_path, :class=>'button radius tiny' if is_admin
  %tr
    %td Name
    %td Album
    %td Options
  - @songs.each do |song|
    %tr
      %td= link_to song.name, song_path(song.id)
      %td= link_to song.album.name, album_path(song.album.id) if song.album.present?
      - if @auth.present? && @auth.has_song?(song)
        %td= audio_tag(song.filename, :controls=>true)
      - else
        %td
          = link_to("Buy Now!", song_path(song.id), :class=>'button active') if !is_admin
          = link_to "Edit", edit_song_path(song.id), :class=>'button radius tiny' if is_admin
          = link_to "Delete", @song, :method=>'delete', :class=>'button radius tiny',:confirm=>'Are you sure?' if is_admin


