<h2>Edit Recipe</h2>

<div class='form'>
<%= form_for @recipe do |f| %>
  <%= f.text_field    :name %>
  <%= f.label         :name %>

  <br>
  <%= f.text_field    :course %>
  <%= f.label         :course %>

  <br>
  <%= f.text_field       :cooktime %>
  <%= f.label         :cooktime %>

  <br>
  <%= f.text_field    :instructions %>
  <%= f.label         :instructions %>

  <br>
  <%= f.text_field    :image %>
  <%= f.label         :image %>

  <br>
  <%= f.text_field    :servingssize %>
  <%= f.label         :servingssize %>

  <br>
   <% Ingredient.order(:name).each do |ingredient| %>
    <span><%= ingredient.name %></span>
    <%= check_box_tag 'recipe[ingredient_ids][]', ingredient.id, ingredient.in?(@recipe.ingredients.to_a)  %><br/>
  <% end %>


  <%= f.submit %>

<% end %>
</div>