.five.columns
  %h2= @artist.name
  %h3 Albums:
  - @artist.albums.each do |album|
    %h4= link_to album.name, album
    %ul
      - album.songs.each do |song|
        %li= link_to song.name, song
  - if is_admin
    = link_to "Edit", edit_artist_path(@artist), :class=>'button radius tiny'
    = link_to "Delete", @artist, :method=>'delete', :class=>'button radius tiny',:confirm=>'Are you sure?'
.five.columns
  = image_tag @artist.image
